.code {
    font-family: monospace;
    font-size: 18px;
    background-color: rgb(212, 212, 212);
}

#customFile .custom-file-control:lang(en)::after {
    content: "Selecionar...";
}

.absolutolouco-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.navbar-logo {
    max-height: inherit;
}

.form-button {
    display: inline-flex;
    position: relative;
    top: 2px;
}

.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

label {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

.bg-white {
    transition: background 500ms linear;
    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
}

.bg-lightgray {
    background-color: rgba(0, 0, 0, 0.022);
    transition: background 500ms linear;
    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
}

i {
    color: #007bff;
    transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 1;
}