@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P');
.home {
    background-color: #1e272d;
    color: #4b6b6a;
    font-family: 'Nunito', Arial;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.about {
    background-color: #4b6b6a;
    color: #1e272d;
    font-family: 'Open Sans', Arial;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.bg-dark-1 {
    color: #4b6b6a;
    background-color: #1e272d;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 50px;
    font-family: 'Press Start 2P', sans-serif;
}

.links>a {
    color: #507a75;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}